


.icons img {
    width: 50px;
    height: 50px;
    border-width: 2px;
    padding: 10px 50px;
    border-style: solid;
    
    
}

.icons ul {
    display: inline;
    text-align: center;
}

.icons {
    text-align: center;
    border-bottom-style: solid;
    border-width: 2px;
    padding-bottom: 7px;
}

body {
    background-color: rgb(207, 176, 136);
    
}

h1 {
    text-align: center;
    font-family: Arial;
}